################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GroupProjectWebProgramming/v17
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/GroupProjectWebProgramming
/.vs/webFinalProj/v17/.suo
/.vs/Web_Group_Assignment/FileContentIndex
/.vs/Web_Group_Assignment/v17/.suo
/.vs/webFinalProj/project-colors.json
/.vs/webFinalProj/v17/Browse.VC.db
/.vs/webFinalProj/v17/ipch/AutoPCH/233c2b4208113d12/SOFE28050U_ASSIGMENT2.ipch
/.vs/slnx.sqlite-journal
