/* page fonts and background */

body{
    background-color:rgb(208, 255, 245);
    font-family: Century Gothic, Lucida Sans, sans-serif;

}

/* change font for buttons specifically */
a button{
    font-family: Lucida Sans, sans-serif;
}

h3{
    letter-spacing: 1px;
}

/*following three blocks are the three oval shaped buttons at the top 
of the page*/
.createChair{
    background-color: rgb(0, 234, 255);
    border-color:rgb(150, 255, 255);
    padding: 20px;
    border-radius: 50%;
}


.saveChair{
    background-color: rgb(57, 255, 50);
    border-color: rgb(140, 253, 102);
    padding: 20px;
    border-radius: 50%;
}

/*block where the changing image of the chair should be*/
.chairDesigning{
    border-style: ridge;
    width: 520px;
    height: 520px;
    border-color: rgb(37, 151, 98);
    border-width: 10px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.image{
    width:520px; 
    height: 260px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/*(main) division container where the changing image of the chair is*/
.mainContainer {
    height: 80%;
    width: 100%;
    border: 3px;
    font-family: Lucida Sans, sans-serif;
}

/*division for the design options*/
div.chairDesignOptions {
    border-style: ridge none ridge none;
    border-width: 10pt;
    width: 60%;
    border-color:  rgb(94, 236, 170);
    padding: 10pt;
    text-align: center;
    margin-top: 10pt;
    margin-bottom: 10pt;
    margin-left: 20%;
    font-family: Century Gothic, Lucida Sans, sans-serif;
}

/*the title "Design Options" within the form */
div.chairDesignOptions legend{
    font-size: 30pt;
}

/*the other titles in the form (color, change chair legs, etc.)*/
div.chairDesignOptions label{
    font-size: 15pt;
    text-decoration: underline;
}

span.colorB{
    background-color: rgb(164, 228, 240);
    border: 1px solid black;
    color: rgb(164, 228, 240);
    padding: 10px 10px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

span.colorG{
    background-color: rgb(189, 246, 180);
    border: 1px solid black;
    color: rgb(189, 246, 180);
    padding: 10px 10px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

span.colorP{
    background-color: rgb(241, 138, 250);
    border: 1px solid black;
    color: rgb(241, 138, 250);
    padding: 10px 10px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/*the dropdown near the top of the page with the user's previous designs*/
.savedMenu{
    background-color: rgb(94, 236, 170);
    border-color:rgb(40, 182, 111);
    padding: 10px;
    border-radius: 2pt;
    width: 300px;
}

