body{
    background-color: rgb(255, 255, 208);
    font-family: Century Gothic, Lucida Sans, sans-serif;
}
.mainContainer{
    height: auto;
    width: auto;
}

h1{
    text-align: center;
    font-size: 35pt;
    color:rgb(22, 20, 18);
    margin-bottom: 40pt;
    margin-top: 30pt;
    text-decoration: underline;

}

img{
    width: 300pt;
    height: 200pt;
}

.image{
    border: 2px inset rgb(22, 20, 18);
    width: 300pt;
    height: 200pt;
    float: left;
    margin-right: 10px;
}

.text{
    margin-left: 10px;
    margin-right: 10px;
    width: 500pt;
    overflow: hidden;
    line-height: 25pt;
    color:rgb(22, 20, 18);
}
.bodyContainer{
    background-color:rgb(255, 255, 235);
    width: 900pt;
    height: 200pt;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10pt;
    margin-bottom: 30pt;
    border: 3pt inset rgb(254, 242, 201);
}

/*the division block for the footer at the bottom of the page*/
.footerBar {
    height: 10vh;
    width: 100%;
    border: 5px;
}