
.mainContainer {
    height: 100%;
    width: auto;
    border: 3px;
    padding: 25px;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.bodyContainer {
    border-style: none;
    width: 100%;
    float: inherit;
    margin-left: auto;
    margin-right: auto;
}
.imgContainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
img.avatar {
    width: 60%;
    border-radius: 50%;
}

form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    border-radius: 2%;
    border-style: solid;
    border-color: #f1f1f1;
    padding: 10px;
    padding-bottom: 0px;
}

button {
    background-color: #05c4a1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
span.psw {
    float: right;
    padding-top: 16px;
}